body {
    margin-top: 20px;
    background-color: #f7f9fc;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table_container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    padding: 12px;
    font-size: 16px;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table-dark {
    background-color: #343a40;
}

.actions a {
    margin: 0 5px;
}

.actions .btn {
    font-size: 14px;
    padding: 5px 10px;
}

.btn-primary {
    border-radius: 10px;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #7ca4ce;
    border-color: #0056b3;
}

.btn-warning {
    border-radius: 10px;
    background-color: #ffc107;
    border-color: #ffc107;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800;
    
    transform: scale(1.05);
}

.btn-danger {
    border-radius: 10px;
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
    
    transform: scale(1.05);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

a{
    text-decoration: none;
    font: bold;
    color: black;
}

.sbd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;  
    margin-top: 30px; 
}

.scorebtn {
    padding: 12px 30px;  
    background-color: #0056b3;  
    color: white;  
    border: none; 
    border-radius: 8px;  
    font-size: 18px;  
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease;  
}

.scorebtn:hover {
    background-color: #003366;
    transform: scale(1.05);  
}

.scorebtn:focus {
    outline: none;
}